<div>
  <div class="featured-item-title">
    <span class="sr-only"><%= t('hyrax.homepage.featured_works.document.title_label') %></span>
    <h3>
      <%= link_to [main_app, featured] do %>
        <%= render_thumbnail_tag(featured, {width: 90}, {suppress_link: true}) + featured.title.first %>
      <% end %>
    </h3>
  </div>
  <!-- customization here: show the Creators instead of Depositors of a featured work -->
  <div class="featured-field featured-item-depositor">
    <span class="featured-label">Creators:</span> <%= link_to_facet_list(featured.creator, 'creator', '') %>
  </div>
  <div class="featured-field featured-item-keywords">
    <span class="featured-label"><%= t('hyrax.homepage.featured_works.document.keyword_label') %>:</span> <%= link_to_facet_list(featured.keyword, 'keyword', t('hyrax.homepage.featured_works.document.keyword_missing')) %>
  </div>
</div>
