<% if Flipflop.assign_admin_set? %>
  <%# TODO: consider `Hyrax::AdminSetOptionsPresenter.select_options_for(controller: controller)` instead %>
  <% sorted_admin_sets = Hyrax::AdminSetOptionsPresenter.new(Hyrax::AdminSetService.new(controller)).select_options.sort {|x,y| if x[0] == "Default admin set" then 1 else x[0] <=> y[0] end} %>
  <% if f.object.persisted? %>
    <%= f.input :admin_set_id, as: :select,
      include_blank: false,
      collection: sorted_admin_sets,
      input_html: { class: 'form-control' } %>
  <% else %>
    <%= f.input :admin_set_id, as: :select,
      include_blank: false,
      collection: sorted_admin_sets,
      selected: sorted_admin_sets[0][1],
      input_html: { class: 'form-control' } %>
  <% end %>
<% end %>

<%= render 'form_in_works', f: f %>
<%= render 'form_member_of_collections', f: f %>

<% if f.object.persisted? %>
  <h2><%= t("hyrax.works.form.in_this_work") %></h2>
  <%= render 'form_child_work_relationships', f: f %>
<% end %>
